{% extends 'base2.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success ml-2">Login</button>
</form>
{% endblock %}