{% extends 'base2.html' %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
    <h1>Password change successful</h1>
    <p>Your password was changed.</p>
{% endblock content %}