{% extends 'base2.html' %}

{% block content %}
<h1>Mains Syllabus</h1>
<h3>Common Papers</h3>
<ul>
    {% for syl in object_list %}
    {% if syl.type == 'common' %}
    <li><a href="{% url 'mainssyllabusdetail' syl.pk %}">{{ syl.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
<h3>Optional Subjects</h3>
<ul>
    {% for syl in object_list %}
    {% if syl.type == 'optional' %}
    <li><a href="{% url 'mainssyllabusdetail' syl.pk %}">{{ syl.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endblock %}