{% extends 'base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!--
{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
{% endif %}
-->
<h2>Structure of Exam</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio itaque perspiciatis quaerat quod! Aliquid at consectetur dolores explicabo, fugit iste laudantium officiis omnis perspiciatis placeat quidem quos sint ut.</p>
<h3>Preliminary Exam[Qualifying exam]</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A harum laboriosam omnis veniam. Ad blanditiis commodi deserunt dicta incidunt inventore mollitia officiis quia quidem, recusandae sapiente suscipit. Reiciendis, sed, veniam!</p>
<h3>Mains Exam[ 1750 marks]</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque eaque non provident qui reprehenderit similique. Aliquam dolores, ducimus, earum eligendi error eum, facere inventore minima necessitatibus officiis qui ullam.</p>
<h3>Interview [ 275 marks ]</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi architecto asperiores doloribus eum ex excepturi, laudantium minus obcaecati repellendus rerum? Adipisci eaque exercitationem fugiat nobis quos, ratione vitae.</p>
{% endblock %}
