{% extends 'base2.html' %}

{% block content %}
<div class="prelimscontent">
    {% for syl in object_list %}
    {% if syl.title == 'Prelims Syllabus' %}
        <h2>{{ syl.title }}</h2>
        <div>
            {{syl.content | safe}}
        </div>
    {%  endif %}
    {%  endfor %}
</div>
{% endblock %}